/* Root */

:root {
    --headingFont: 'Zilla Slab', serif;
    --bodyFont: 'Inter', sans-serif;
    --lightBackground: #E2EFDE;
    --darkBackground: #29363B;
    --lightHighlight: #F4837D;
    --darkHighlight: #EA495F;
    --primary: #1E696C;
    --primaryMedium: #288B7D;
    --primaryLight: #0FA694;
}

* {
    box-sizing: border-box;
}

/* <--/--> */

/* Global */

h1 {
    font-family: var(--headingFont);
    font-size: 97px;
}

h2 {
    margin: 0 0 2rem 0;
    font-family: var(--headingFont);
    font-size: 61px;
    color: var(--darkHighlight);
}

h3 {
    font-family: var(--headingFont);
    font-size: 49px;
}

h4 {
    font-family: var(--headingFont);
    font-size: 34px;
}

h5 {
    margin: 1rem 0 0.5rem 0;
    font-family: var(--headingFont);
    font-size: 24px;
    color: var(--lightHighlight);
}

h6 {
    font-family: var(--headingFont);
    font-size: 20px;
}

p {
    line-height: 2em;
    text-align: left;
}

caption {
    font-family: var(--bodyFont);
    font-size: 10px;
}

section {
    padding: 0;
    z-index: 2;
    overflow-y: hidden;
}

._section {
    position: relative;
    height: 125vh;
    width: 100%;
    margin: 0;
    padding: 2rem;
    background-color: var(--lightBackground);
}

._text {
    position: relative;
    margin-left: 2em;
}

._textBackground {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    z-index: -1;
}

#-paginationAnimation {
    position: fixed;
    background-color: transparent;
    z-index: 900;
}

/* <--/--> */

body {
    position: relative;
    height: auto;
    width: 100vw;
    margin: 0;
    font-size: 14px;    
    font-family: var(--bodyFont);
}

/* Intro */

._intro {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 950;
}

._hideIntro {
    display: none;
}

/* <--/--> */

/* Hero */

._hero {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--darkBackground);
}


._blueprint {
    position: absolute;
    z-index: -1;
    opacity: 50%;
}

/* <--/--> */

/* THE QUESTION */

._question {
    display: flex;
}



._questionBackground {
    mask-image: linear-gradient(to right, white 50%, transparent);
}